body{
    background-color: rgb(30, 30, 30);
}
.firstDiv{
    border: 1px;    
    border-color: aqua;
    border-style: solid;
    width: 1260px;
    height: 90px;
    align-self: center;
    align-items: baseline;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.firstDivButton{
    color: white;
    border-style: none;
    background-color: rgb(30, 30, 30);
}
#TShadow{
    justify-self: flex-start;
    font-size: 30px;
    margin-right: 2px;
}
#Invite{
    justify-self: flex-start;
    font-size: 18px;
    margin-right: 2px;

}
#Commands{
    justify-self: flex-start;
    font-size: 18px;
    margin-right: 2px;

}
#Support{
    justify-self: flex-start;
    font-size: 18px;
    margin-right: 2px;

}
#Premium{
    justify-self: flex-start;
    font-size: 18px;
    margin-right: 2px;

}
#Partners{
    justify-self: flex-start;
    font-size: 18px;

}
#Dashboard{
    justify-self: flex-end;
    font-size: 18px;

}
