body{
    background-color: black;
}
.firstDiv{
    border: 2px;    
    border-color: aqua;
    border-style: solid;
    width: 1275px;
    height: 90px;
    align-self: center;
    align-items: baseline;
    margin: 0 auto;
}